<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../../content/bootstrap.css" rel="stylesheet" />
    <link href="../../content/main.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>    
    <script src="../../Scripts/knockout-3.3.0.debug.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../ViewModel/02_Observables.js"></script>   
</head>
<body>
    <header>
        <div class="bs-docs-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Knockout - <span>Observables (regular + computed)</span></h1>
                    </div>
                    <div class="col-sm-2 padding-top-5">
                        <button type="button" class="btn btn-default pull-right " aria-label="Left Align">
                            <a href="\Index2.html">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container padding-top-20">
        <div class="panel panel-info">
            <div class="panel-heading">SlaveMarket calculator</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Slave</label>
                        <div class="col-sm-10">
                            <input data-bind="value:productName, valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <input data-bind="value:price" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hour</label>
                        <div class="col-sm-10">
                            <input data-bind="value:hour" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Total price</label>
                        <div class="col-sm-10">
                            <input data-bind="value:totalPrice" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Summary</div>
            <div class="panel-body">
                Name: <span data-bind="text: productName"></span><br />
                Price: <span data-bind="text: priceWithCurrency"></span>                
            </div>
        </div>
    </div>
</body>
</html>
