<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../../content/bootstrap.css" rel="stylesheet" />
    <link href="../../content/main.css" rel="stylesheet" />   
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>    
    <script src="../../Scripts/knockout-3.3.0.debug.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../Data/SampleProducts.js"></script>
    <script src="../ViewModel/SharedModels.js"></script>  
    <script src="../ViewModel/06_BindingControlFlow.js"></script>   
</head>
<body>
    <header>
        <div class="bs-docs-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Knockout - <span>Built-in bindings (Control flow)</span></h1>
                    </div>
                    <div class="col-sm-2 padding-top-5">
                        <button type="button" class="btn btn-default pull-right " aria-label="Left Align">
                            <a href="\Index3.html">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container padding-top-20">
        <div class="panel panel-info">
            <div class="panel-heading">foreach</div>
            <div class="panel-body">
                <ul data-bind="foreach: products">
                    <li data-bind="text: name"></li>
                </ul>

                <!--ko foreach: products-->
                <span data-bind="text: name"></span>
                <!--/ko-->
            </div>
        </div>        
        <div class="panel panel-info">
            <div class="panel-heading">if ifnot</div>
            <div class="panel-body">            
                <div data-bind="if: displayMessage">Tekst1 Tekst1 Tekst1 Tekst1</div>

                <!--ko if: !displayMessage()-->
                <div>Tekst2 Tekst2 Tekst2 Tekst2 </div>
                <!--/ko-->

                <div data-bind="ifnot: !displayMessage()">Tekst3 Tekst3 Tekst3 Tekst3 </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">with</div>
            <div class="panel-body">
                <div data-bind="with: person">
                   <div class="row">
                       <label class="col-sm-2">Imię</label>
                       <div class="col-sm-2" data-bind="text: name"></div>
                   </div>
                    <div class="row">
                        <label class="col-sm-2">Wiek</label>
                        <div class="col-sm-2" data-bind="text: age"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2">Ilość produktów</label>
                        <div class="col-sm-2" data-bind="text: $parent.products().length"></div>
                        <div id="eeedd" data-bind="text: $element.id"></div>                        
                    </div> 
                </div>
            </div>
        </div>    
    </div>
</body>
</html>
