<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../../content/bootstrap.css" rel="stylesheet" />
    <link href="../../content/main.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>    
    <script src="../../Scripts/knockout-3.3.0.debug.js"></script>
    <script src="../../Scripts/ko-custom-binding.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../Data/SampleProducts.js"></script> 
    <script src="../ViewModel/SharedModels.js"></script>  
    <script src="../ViewModel/09_BindingCustom.js"></script>   
</head>
<body>
    <header>
        <div class="bs-docs-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Knockout - <span>Custom bindings</span></h1>
                    </div>
                    <div class="col-sm-2 padding-top-5">
                        <button type="button" class="btn btn-default pull-right " aria-label="Left Align">
                            <a href="\Index4.html">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container padding-top-20">
        <div class="panel panel-info">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <!--<input type="text" data-bind="textInput: itemToAdd, event: { keypress: addOnEnter }" />--> <!--event: { keypress: addOnEnter }-->                
               
                <input type="text" data-bind="textInput: itemToAdd, executeOnEnter: addItem" />                 <button data-bind="click: addItem">Add</button>
                <ul data-bind="template: { name: 'prodTemplate', foreach: products }"></ul>
            </div>
        </div>
    </div>        

    <script id="prodTemplate" type="text/html">
        <li>
            <span data-bind="text: name"></span>
        </li>
    </script>
</body>
</html>
<!--<input type="text" data-bind="textInput: itemToAdd, executeOnEnter: addItem" />-->