<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../../content/bootstrap.css" rel="stylesheet" />
    <link href="../../content/main.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>    
    <script src="../../Scripts/knockout-3.3.0.debug.js"></script>   
    <script src="../../Scripts/bootstrap.js"></script>     
</head>
<body>  
    <header>
        <div class="bs-docs-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Knockout - <span>Components</span></h1>
                    </div>
                    <div class="col-sm-2 padding-top-5">
                        <button type="button" class="btn btn-default pull-right " aria-label="Left Align">
                            <a href="\Index5.html">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header> 
    <div class="container padding-top-20">
        <div class="panel panel-info">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div data-bind='component: "message-editor"'></div>

                <div data-bind='component: {
                        name: "message-editor",
                        params: { initialText: "Hello, world!" }
                    }'>
                </div>

                <message-editor></message-editor>
            </div>
        </div>
    </div>     
   
    <script src="../../Scripts/ko-components.js"></script> 
    
</body>
</html>
